<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <h2>Implementation of Interpolation</h2>
    </header>

    <main>
      <div class="text">
        1 . First number = {{ number1 }} & Second number = {{ number2 }}
      </div>

      <section class="addition">
        <ol>
          Addition : ({{
            number1
          }}
          +
          {{
            number2
          }}) =
          {{
            number1 + number2
          }}
        </ol>
      </section>

      <section class="subtraction">
        <ol>
          Subtraction : ({{
            number1
          }}
          -
          {{
            number2
          }}) =
          {{
            number1 - number2
          }}
        </ol>
      </section>

      <section class="division">
        <ol>
          Division : ({{
            number1
          }}
          /
          {{
            number2
          }}) =
          {{
            number1 / number2
          }}
        </ol>
      </section>

      <section class="multiplication">
        <ol>
          Multiplication : ({{
            number1
          }}
          *
          {{
            number2
          }}) =
          {{
            number1 * number2
          }}
        </ol>
      </section>

      <div class="text">
        2. First Name = {{ first_name }} & Last Name = {{ last_name }}
      </div>
      {{ first_name + "_" + last_name }}

      <div class="text">3. Function Call</div>

      Hey :) , "{{ interpolationCall() }}".
    </main>
  </body>
</html>
